h1 {
    color: black;
    font-size: 50px;
    text-align:center;

}

body {
	background-color: #F5F5F5;
	font-family: "Courier New", Courier, monospace;
}

p {
    color: black;
    font-size:20px;
}

input {
  font-family: "Courier New", Courier, monospace;
}

#game{
	text-align: center;
  left:50%;
  top:40%;
	position: absolute;
}

#menu{
	width:400px;
	height:200px;
	left:50%;
  top:30%;
	margin-left:-200px;
	position:absolute;
	background-color:lightgrey;
}

#pause{
  text-align: center;
}

button{
	border: 0px outset;
    color: black;
	background-color: #F5F5F5;
}

input{
	border: 0px outset;
	background-color: #F5F5F5;
	text-align: center;
}

#keyH{
	position:absolute;
	left:52%;
	width:45%;
	top:5%;
	height:40%;
}
#keyC{
	position:absolute;
	left:2%;
	width:45%;
	top:5%;
	height:40%;
}


#hostB{
	position:absolute;
	left:52%;
	width:46%;
	top:55%;
	height:40%;
}
#connectB{
	position:absolute;
	left:2%;
	width:46%;
	top:55%;
	height:40%;
}

#log{
	position: absolute;
	left:50%;
	top:320px;
}

#signature{
  position: fixed;
  bottom: 0;
  right: 20px;
  color: grey;
}
